body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

nav img {
    height: 80%;
    width: auto;
    display: block;
    float: left; 
    margin-left: 40px;
    margin-top: 5px;
}

nav {
    background-color: #7398a8;
    padding-right: 10px;
    text-align: right;
    height: 70px;
}

nav ul {
    margin-right: 35px;
    padding-top: 25px;
}

nav li {
    display: inline;
    margin: 5px;
}

nav a {
    color: #fff;
}

header {
    position: relative;
    display: block;
    justify-content: center;
}

.banner-image {
    width: 100vw;
    height: auto;
    position: relative;
    margin-bottom: 40px;
} 

.overlay-text {
    color: #fff;
    display: flex;
    top: 20%;
    left: 2%;
    text-align: center;
    justify-content: center;
    position: absolute;
} 

main {
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
}

#images {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; 
}

#images figure {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px; 
}

#images img {
    width: 250px;
    height: auto;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

ul {
    font-size: 16px;
}

.contact {
    background-color: #b2b9c7;
}

footer {
    background-color: #b2b9c7;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    height: 50px;
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    #images figure {
        margin-right: 0; 
    }
}
